body {
    background-color: rgb(7, 86, 234);
  }
  .header-container {
    display: flex;
    justify-content: center;
  color: gold;
  

  }
  .UName_form {
    width: 25rem;
    height: 1.8rem;
  }
  #Get_NotesBtn {
    margin-top: 1rem;
  }
  
  .titleForm {
    height: 1.8rem;
    margin-top: 1.5rem;
  }
  .noteForm {
    margin-left: 2.5rem;
    height: 1.8rem;
  }
  #PostNotebtn {
    margin-top: 1rem;
  }
  
  h1 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h2 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }